{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'polls/index.css' %}">
{% endblock %}
{% block content %}
    {% if latest_question_list %}
        <ol class="question-list">
            {% for question in latest_question_list %}
                <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}